$color-primary: #2265ff;
$color-success: #52C41A;
$color-danger: #FF4D4F;
$color-sub-head: #818181;

// 背景色
$bg-success: #F6FFED;
$bg-danger: #FFF1F0;

// 边框色
$border-success: #B7EB8F;
$border-danger: #FFA39E;

$colors: $color-primary, $color-success, $color-danger, $color-sub-head;
$color-name: primary, success, danger, subhead;
